<td class="name">{{value.product.name}}</td>
<td>{{value.product.macronutrients | macronutrientsProteinsCalculator: (weight.value | ingredientWeight)}}</td>
<td>{{value.product.macronutrients | macronutrientsFatsCalculator: (weight.value | ingredientWeight)}}</td>
<td>{{value.product.macronutrients | macronutrientsCarbohydratesCalculator: (weight.value | ingredientWeight)}}</td>
<td class="weight">
  <mat-form-field>
    <input [formControl]="weight.ref" type="number" min="0" matInput>
  </mat-form-field>
</td>
<td>{{value.product.macronutrients | macronutrientsCaloriesCalculator: (weight.value | ingredientWeight)}}</td>
<td class="remove">
  <button (click)="handleRemoveIngredient()" type="button">
    <mat-icon>delete</mat-icon>
  </button>
</td>
