@import 'src/app/shared/_colors';

.pagination {
  font-size: 18px;
  user-select: none;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  app-page-size {
    margin-bottom: 5px;
  }

}
