@import 'src/app/shared/_colors';

:host:hover {
  cursor: pointer;
}

.direction {
  position: relative;

  .direction-icon {
    position: absolute;
    right: -20px;

    &.up, &.down {
      color: $primary-color;
    }
  }
}
