form {
  width: 50%;
}

.actions {
  margin-bottom: 50px;

  button {
    margin-right: 10px;
  }
}

.title {
  font-size: 20px;
  margin-bottom: 30px;

  .name {
    font-size: 30px;
    font-weight: 500;
  }
}

.controls {
  mat-form-field {
    width: 100%;
  }

  .description {
    margin-bottom: 20px;
  }
}
