<ng-container *ngIf="loaded$ | async; else loading">
  <div class="pending-indicator-overlay-boundaries">

    <div header>
      <div title>Begin Day of Eating</div>
    </div>

    <app-day-of-eating-begin-form [dataSource]="dataSource$ | async"
                                  (save)="handleSave($event)"
                                  (cancel)="handleCancel()"></app-day-of-eating-begin-form>

    <div class="pending-indicator-overlay-container" *ngIf="loading$ | async">
      <app-spinner></app-spinner>
    </div>

  </div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>

