<form [formGroup]="formHandler.form" (ngSubmit)="handleSubmit()">
  <div class="actions">
    <button (click)="handleCancel()" type="button" mat-raised-button>Cancel</button>
    <button [disabled]="formHandler.form.invalid" type="submit" mat-raised-button color="primary">Save</button>
  </div>

  <h1>New Diet</h1>

  <div class="base-data">
    <div class="name">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" type="text" matInput tabindex="1" />
      </mat-form-field>
    </div>

    <div class="description">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput tabindex="2"></textarea>
      </mat-form-field>
    </div>

    <div class="type">
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let dietType of dietTypes" [value]="dietType">{{ dietType | i18nSelect: DIET_TYPE }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="dates" formGroupName="dates">
      <div class="start-date">
        <mat-form-field appearance="fill">
          <mat-label>Start date</mat-label>
          <input formControlName="startDate" matInput [matDatepicker]="startDatePicker" />
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="end-date">
        <mat-form-field appearance="fill">
          <mat-label>End date</mat-label>
          <input formControlName="endDate" matInput [matDatepicker]="endDatePicker" />
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-diet-meals [formHandler]="formHandler"></app-diet-meals>
</form>
