.actions {
  margin-bottom: 30px;

  button {
    margin-right: 10px;
  }
}

.base-data {
  div {
    margin-bottom: 10px;
  }

  .name {
    mat-form-field {
      width: 50%;
    }
  }

  .type {
    mat-form-field {
      width: 236px
    }
  }
}
