form {
  width: 50%;
}

.actions {
  margin-bottom: 30px;

  button {
    margin-right: 10px;
  }
}

.base-data {
  div {
    margin-bottom: 10px;
  }

  mat-form-field {
    width: 100%;
  }

  .dates {
    display: flex;
    justify-content: space-between;

    div {
      width: calc(50% - 10px);

      mat-form-field {
        width: 100%;
      }
    }
  }
}
