.main-area-container {
  background-color: rgb(242, 247, 251);
  overflow: auto;
  height: 100%;

  .card {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
    background-color: white;
    margin: 25px 30px 30px;
    padding: 40px 20px;
  }

  .notifications {
    position: fixed;
    top: 0;
    left: calc(50% - 160px);
    width: 320px;
    z-index: 1000;
  }
}
