.main-area-container {
  background-color: #EDF0F2;
  overflow: auto;
  height: 100%;

  .main-card {
    margin: 20px 20px 20px 20px;
    padding: 40px 40px;
  }

  .notifications {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 320px;
    z-index: 1000;
  }
}
