<div class="table-container">
  <table appTable>
    <tr>
      <th class="name">Name</th>
      <th>
        <span class="label proteins">Proteins</span>
      </th>
      <th>
        <span class="label fats">Fats</span>
      </th>
      <th>
        <span class="label carbohydrates">Carbohydrates</span>
      </th>
      <th>
        <span class="label kcal">KCAL</span>
      </th>
      <th>Weight</th>
    </tr>

    <tr *ngFor="let ingredient of ingredients | sortIngredients">
      <td class="distinction name">{{ ingredient.product.name }}</td>
      <td>{{ ingredient.product.macronutrients | macronutrientsProteinsCalculator: ingredient.weight }}</td>
      <td>{{ ingredient.product.macronutrients | macronutrientsFatsCalculator: ingredient.weight }}</td>
      <td>{{ ingredient.product.macronutrients | macronutrientsCarbohydratesCalculator: ingredient.weight }}</td>
      <td>{{ ingredient.product.macronutrients | macronutrientsCaloriesCalculator: ingredient.weight }}</td>
      <td>{{ ingredient.weight }}</td>
    </tr>
    <tr class="total">
      <td class="distinction">Total</td>
      <td>{{ ingredients | ingredientsProteinsCalculator }}</td>
      <td>{{ ingredients | ingredientsFatsCalculator }}</td>
      <td>{{ ingredients | ingredientsCarbohydratesCalculator }}</td>
      <td>{{ ingredients | ingredientsCaloriesCalculator }}</td>
      <td>{{ ingredients | ingredientsWeightCalculator }}</td>
    </tr>
  </table>

</div>
