<table *ngIf="recipes.length; else noTableData"
       appTable selectable
       sortable [sort]="sort" (sortChange)="handleSortChange($event)">
  <tr>
    <th [sortHeader]="RecipesSortBy.NAME" class="name">Name</th>
    <th [sortHeader]="RecipesSortBy.WEIGHT">Weight</th>
    <th [sortHeader]="RecipesSortBy.PROTEINS">
      <span class="label proteins">Proteins</span>
    </th>
    <th [sortHeader]="RecipesSortBy.FATS">
      <span class="label fats">Fats</span>
    </th>
    <th [sortHeader]="RecipesSortBy.CARBOHYDRATES">
      <span class="label carbohydrates">Carbohydrates</span>
    </th>
    <th>
      <span class="label kcal">KCAL</span>
    </th>
    <th [sortHeader]="RecipesSortBy.ACTIVE">
      <span>Status</span>
    </th>
  </tr>

  <tr *ngFor="let recipe of recipes" (click)="handleClickRow(recipe)">
    <td class="name">{{ recipe.name }}</td>
    <td>{{ recipe.weight }}</td>
    <td>{{ recipe.proteins }}</td>
    <td>{{ recipe.fats }}</td>
    <td>{{ recipe.carbohydrates }}</td>
    <td>{{ -1 }}</td>
    <td>
      <span [class.active]="recipe.active" [class.inactive]="!recipe.active">{{
        recipe.active ? 'Active' : 'Inactive'
      }}</span>
    </td>
  </tr>
</table>

<div *ngIf="total > 0" class="pagination">
  <app-pagination [pagination]="pagination"
                  [total]="total"
                  (paginationChange)="handlePaginationChange($event)"></app-pagination>
</div>

<ng-template #noTableData>
  <app-no-table-data></app-no-table-data>
</ng-template>
