<form [formGroup]="formHandler.form" (ngSubmit)="handleSubmit()">

  <mat-form-field class="name-input">
    <mat-label>Name</mat-label>
    <input [formControl]="formHandler.name.ref" type="text"
           matInput tabindex="1">
  </mat-form-field>

  <mat-form-field class="carbohydrates-input">
    <mat-label>Carbohydrates</mat-label>
    <input [formControl]="formHandler.carbohydrates.ref" type="number"
           min="0" matInput tabindex="2">
  </mat-form-field>

  <mat-form-field class="proteins-input">
    <mat-label>Proteins</mat-label>
    <input [formControl]="formHandler.proteins.ref" type="number"
           min="0" matInput tabindex="3">
  </mat-form-field>

  <mat-form-field class="fats-input">
    <mat-label>Fats</mat-label>
    <input [formControl]="formHandler.fats.ref" type="number"
           min="0" matInput tabindex="4">
  </mat-form-field>

  <div actions>
    <button mat-dialog-close type="button"
            mat-raised-button tabindex="6">Cancel</button>
    <button [disabled]="!formHandler.form.valid" type="submit"
            mat-raised-button color="primary" tabindex="5">Save</button>
  </div>
</form>
