<ng-container *ngIf="loaded$ | async; else loading">
  <div class="pending-indicator-overlay-boundaries">
    <div header>
      <div title>Recipes</div>
      <div actions>
        <button (click)="handleAddNewRecipe()" mat-raised-button color="primary">Add New Recipe</button>
      </div>
    </div>

    <app-recipes-table [recipes]="recipes$ | async"
                       [sort]="sort"
                       [pagination]="pagination"
                       [total]="total$ | async"
                       (clickRow)="handleClickRow($event)"
                       (sortChange)="handleSortChange($event)"
                       (paginationChange)="handlePaginationChange($event)"></app-recipes-table>

    <div class="pending-indicator-overlay-container" *ngIf="loading$ | async">
      <app-spinner></app-spinner>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
