@import "src/app/shared/style";

div {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 7px 0;

  &.kcal {
    margin-top: 20px;

    span.badge {
      background-color: $kcal-color;
      color: white;
    }
  }

  span.badge {
    font-size: 100%;
    font-weight: 500;

    &.carbohydrates {
      background-color: $carbohydrates-color;
    }

    &.proteins {
      background-color: $proteins-color;
    }

    &.fats {
      background-color: $fats-color;
    }
  }
}

