<app-async-data-container [loaded]="loaded$ | async"
                          [pending]="(loading$ | async) || (saving$ | async)">

  <app-slot title>
    <div class="title">
      <span>Meal Template:</span>
      <span class="name">{{(mealTemplate$ | async).name }}</span>
      <span class="inactive" *ngIf="!(mealTemplate$ | async).active">[INACTIVE]</span>
    </div>
  </app-slot>

  <app-slot actions>
    <button *ngIf="(mealTemplate$ | async).active"
            (click)="handleDeactivate()"
            mat-raised-button
            class="edit-button">Deactivate</button>
    <button *ngIf="!(mealTemplate$ | async).active"
            (click)="handleActivate()"
            mat-raised-button
            class="edit-button">Activate</button>
    <button [routerLink]="['edit']"
            mat-raised-button
            class="edit-button">Edit</button>
  </app-slot>

  <app-slot data>
    <app-meal-template-view [mealTemplate]="mealTemplate$ | async"></app-meal-template-view>
  </app-slot>

</app-async-data-container>
