<div class="header">
  <div title>{{ product.name }}</div>
  <button [class.favourite]="product.favourite"
          (click)="handleToggleFavourite()"
          rawButton type="button" class="toggle-favourite">
    <fa-icon icon="heart"></fa-icon>
  </button>
</div>

<div class="macronutrients-container">
  <app-macronutrients-chart [macronutrients]="product.macronutrients"></app-macronutrients-chart>
</div>

<div actions>
  <button (click)="handleExit()" type="button" mat-raised-button>Close</button>
</div>
