@import 'src/app/shared/_colors';

.macronutrients-container {
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;

  [title] {
    color: $primary-color;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .toggle-favourite {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;

    &:not(.favourite):hover {
      color: $primary-color;
    }

    &.favourite {
      color: $primary-color;

      &:hover {
        color: inherit;
      }
    }
  }
}
