<table class="bf-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Weight [g]</th>
    <th>
      <span class="macronutrients-label carbohydrates">Carbohydrates [g]</span>
    </th>
    <th>
      <span class="macronutrients-label proteins">Proteins [g]</span>
    </th>
    <th>
      <span class="macronutrients-label fats">Fats [g]</span>
    </th>
    <th>
      <span class="macronutrients-label kcal">KCAL</span>
    </th>
  </tr>

  <tr *ngFor="let meal of meals">
    <td>
      <a class="entity-link"
         (click)="handleClickId(meal.id)">{{meal.id}}</a>
    </td>
    <td class="name-cell">{{meal.name}}</td>
    <td>{{meal.weight}}</td>
    <td>{{meal.carbohydrates}}</td>
    <td>{{meal.proteins}}</td>
    <td>{{meal.fats}}</td>
    <td>{{meal | macronutrientsCaloriesCalculator}}</td>
  </tr>
</table>
