<table *ngIf="meals.length; else noTableData" appTable selectable>
  <tr>
    <th>Name</th>
    <th>Weight [g]</th>
    <th>
      <span class="macronutrients-label carbohydrates">Carbohydrates [g]</span>
    </th>
    <th>
      <span class="macronutrients-label proteins">Proteins [g]</span>
    </th>
    <th>
      <span class="macronutrients-label fats">Fats [g]</span>
    </th>
    <th>
      <span class="macronutrients-label kcal">KCAL</span>
    </th>
  </tr>

  <tr *ngFor="let meal of meals"
      (click)="handleClick(meal)">
    <td class="name">{{meal.name}}</td>
    <td>{{meal.weight}}</td>
    <td>{{meal.carbohydrates}}</td>
    <td>{{meal.proteins}}</td>
    <td>{{meal.fats}}</td>
    <td>{{meal | macronutrientsCaloriesCalculator}}</td>
  </tr>
</table>

<ng-template #noTableData>
  <app-no-table-data></app-no-table-data>
</ng-template>
