<div class="login-container">
  <div class="pending-indicator-overlay-boundaries">

    <div class="card">
      <a appLink [routerLink]="['/']">
        <div class="title">be fit</div>
      </a>
      <div class="login">Login</div>
      <app-login-form (login)="handleLogin($event)"></app-login-form>

      <div class="register-container">
        <a appLink class="register" [routerLink]="['/', 'register']">Register</a>
      </div>

    </div>

    <div class="pending-indicator-overlay-container" *ngIf="logging$ | async">
      <app-spinner></app-spinner>
    </div>

  </div>
</div>
