<app-async-data-container [loaded]="loaded$ | async"
                          [pending]="loading$ | async">

  <app-slot title>
    <div class="title">Meal Templates</div>
  </app-slot>

  <app-slot actions>
    <button (click)="handleAddNewMealTemplate()"
            mat-raised-button color="primary">Add New Meal Template</button>
  </app-slot>

  <app-slot data>
    <app-meal-templates-list-ui [mealTemplates]="mealTemplates$ | async"
                                (clickRow)="handleClick($event)"></app-meal-templates-list-ui>
  </app-slot>

</app-async-data-container>
