@import 'src/app/shared/_colors';

.meal-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;

  & > div {
    width: calc(50% - 20px);
  }
}

app-field div {
  font-size: 18px;
}
