<ng-container *ngIf="loaded$ | async; else loading">
  <div class="pending-indicator-overlay-boundaries">

    <div header>
      <div title>
        <span>Day of Eating:</span>
        <span class="day">{{(dayOfEating$ | async).dayDate | date:DATE_FORMAT}}</span>
      </div>
      <div actions>
        <button [routerLink]="['edit']"
                mat-raised-button
                class="edit-button">Edit</button>
      </div>
    </div>

    <app-day-of-eating-details-ui [dayOfEating]="dayOfEating$ | async"></app-day-of-eating-details-ui>

    <div class="pending-indicator-overlay-container" *ngIf="loading$ | async">
      <app-spinner></app-spinner>
    </div>

  </div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
