$primary-color: #05716c;
$secondary-color: #cbf6db;

$label-color: #676767;

$hover-color: #f3f7f9;

$proteins-color: #fe6847;
$fats-color: #fbb13c;
$carbohydrates-color: #00c49a;
$calories-color: #000;
