@import "src/app/shared/style";

.menu-container {
  position: relative;
  top: 0;
  height: 100%;
  background-color: #2e323a;

  a {
    color: white;

    &.active {
      color: $primary-color;
      text-align: center;
      font-weight: 500;

      &:before {
        content: "•";
        color: $primary-color;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: 120%;
        vertical-align: text-top;
      }
    }
  }
}
