@import "src/app/shared/style";

$border-color: #2e323a;
$active-color: #546eff;

.menu-container {
  position: relative;
  top: 0;
  height: 100%;
  background-color: $border-color;
  width: 197px;

  a {
    color: white;
    font-weight: 500;
  }

  mat-list-item {
    border-left: 2px solid $border-color;

    &.active {
      border-left: 2px solid $active-color;

      a {
        color: $active-color;
      }
    }
  }
}
