@import 'src/app/shared/_colors';

$background-color: $secondary-color;
$active-color: $primary-color;

.menu-container {
  position: relative;
  top: 0;
  height: 100%;
  background-color: $background-color;

  a {
    color: #828282;
    font-weight: 400;

    fa-icon {
      margin-right: 15px;
      font-size: 130%;
    }

  }

  mat-list-item {
    box-sizing: border-box;
    border-left: 3px solid $background-color;

    //&.dashboard {
    //  height: 58px;
    //}
    //
    //&.log-out {
    //  margin-top: 10px;
    //}

    &.active {
      border-left: 3px solid $active-color;

      a {
        color: $active-color;
        font-weight: 500;
      }
    }
  }

  .title {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $active-color;
    font-weight: 500;
    font-size: 30px;
  }
}
