<div class="menu-container">
  <app-logo></app-logo>

  <mat-nav-list>
    <mat-list-item [routerLink]="['dashboard']" [routerLinkActive]="'active'">
      <a matLine>Dashboard</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item [routerLink]="['diet']" [routerLinkActive]="'active'">
      <a matLine>Diets</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['meal']" [routerLinkActive]="'active'">
      <a matLine>Meals</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['product']" [routerLinkActive]="'active'">
      <a matLine>Products</a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <a matLine>Log out</a>
    </mat-list-item>

  </mat-nav-list>
</div>
