<div class="menu-container">
  <div class="title">be fit</div>

  <mat-nav-list>
    <mat-list-item class="dashboard" [routerLink]="['dashboard']" [routerLinkActive]="'active'">
      <a matLine>Dashboard</a>
    </mat-list-item>

    <mat-list-item [routerLink]="['day-of-eating']" [routerLinkActive]="'active'">
      <a matLine>Days of Eating</a>
    </mat-list-item>

<!--    <mat-list-item [routerLink]="['diet']" [routerLinkActive]="'active'">-->
<!--      <a matLine>Diets</a>-->
<!--    </mat-list-item>-->

    <mat-list-item [routerLink]="['meal-template']" [routerLinkActive]="'active'">
      <a matLine>Meal Templates</a>
    </mat-list-item>

<!--    <mat-list-item [routerLink]="['meal']" [routerLinkActive]="'active'">-->
<!--      <a matLine>Meals</a>-->
<!--    </mat-list-item>-->

    <mat-list-item [routerLink]="['product']" [routerLinkActive]="'active'">
      <a matLine>Products</a>
    </mat-list-item>

<!--    <mat-list-item class="log-out">-->
<!--      <a matLine>Log out</a>-->
<!--    </mat-list-item>-->

  </mat-nav-list>
</div>
