.table-container {
  overflow-x: scroll;
}

table[appTable] {
  width: 100%;
}

th, td {
  &.name {
    min-width: 180px;
  }

  &.favourite {
    min-width: 40px;
  }
}

td {
  &.favourite {
    font-size: 110%;
  }
}

.pagination {
  padding-top: 12px;
}
