<form [formGroup]="formHandler.form" (ngSubmit)="handleSubmit()">
  <div header>
    <div title>
      <span>Day of Eating:</span>
      <span class="date">{{ dayOfEating.dayDate | date: DATE_FORMAT }}</span>
    </div>
    <div actions>
      <button (click)="handleCancel()" type="button" mat-raised-button>Cancel</button>
      <button [disabled]="formHandler.form.invalid" type="submit" mat-raised-button color="primary">Save</button>
    </div>
  </div>

  <div class="actions">
    <button (click)="handleCopyExistingMeal()" type="button" mat-raised-button>Copy existing Meal</button>
    <button (click)="handleAddNewMeal()" type="button" mat-raised-button>Add new Meal</button>
  </div>

  <div *ngIf="formHandler.hasMeals$ | async; else noMeals" class="meals-container">
    <app-meals-form
      [mealsControl]="formHandler.form.controls.meals"
      [products]="dataSource.products"
      (moveUpMeal)="handleMoveUpMeal($event)"
      (moveDownMeal)="handleMoveDownMeal($event)"
      (removeMeal)="handleRemoveMeal($event)"
    ></app-meals-form>
  </div>

  <ng-template #noMeals>
    <div class="no-meals">No Meals</div>
  </ng-template>
</form>
