<ng-container *ngIf="loaded$ | async; else loading">
  <div class="pending-indicator-overlay-boundaries">
    <button [routerLink]="['edit']"
            mat-raised-button
            class="edit-button">Edit</button>

    <app-diet-details-ui [diet]="diet$ | async"></app-diet-details-ui>

    <div class="pending-indicator-overlay-container" *ngIf="loading$ | async">
      <app-spinner></app-spinner>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
