<div class="table-container">
  <table appTable>
    <tr>
      <th>Name</th>
      <th>
        <span class="macronutrients-label carbohydrates">Carbohydrates [g]</span>
      </th>
      <th>
        <span class="macronutrients-label proteins">Proteins [g]</span>
      </th>
      <th>
        <span class="macronutrients-label fats">Fats [g]</span>
      </th>
      <th>
        <span class="macronutrients-label kcal">KCAL</span>
      </th>
      <th class="weight">Weight [g]</th>
      <th class="remove"></th>
    </tr>

    <ng-container formArrayName="ingredients">
      <tr *ngFor="let ingredient of ingredients; let i = index">
        <ng-container [formGroup]="ingredient">
          <ng-container *ngIf="ingredient.get('product') | product as product">
            <td class="name">{{ product.name }}</td>
            <td>{{ product.macronutrients | macronutrientsCarbohydratesCalculator: ingredient.get('weight').value }}</td>
            <td>{{ product.macronutrients | macronutrientsProteinsCalculator: ingredient.get('weight').value }}</td>
            <td>{{ product.macronutrients | macronutrientsFatsCalculator: ingredient.get('weight').value }}</td>
            <td>{{ product.macronutrients | macronutrientsCaloriesCalculator: ingredient.get('weight').value }}</td>
            <td class="weight">
              <mat-form-field>
                <input formControlName="weight" type="number" min="0" matInput />
              </mat-form-field>
            </td>
            <td class="remove">
              <button (click)="removeIngredient(i)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </ng-container>

    <!--  <tr class="total">-->
    <!--    <td class="name">Total</td>-->
    <!--    <td>{{carbohydrates$ | async}}</td>-->
    <!--    <td>{{proteins$ | async}}</td>-->
    <!--    <td>{{fats$ | async}}</td>-->
    <!--    <td>{{KCAL$ | async}}</td>-->
    <!--    <td>{{weight$ | async}}</td>-->
    <!--    <td></td>-->
    <!--  </tr>-->
  </table>
</div>
