<form [formGroup]="formHandler.form" (ngSubmit)="handleSubmit()">

  <div class="form-container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input [formControl]="formHandler.form.controls.name" type="text" matInput tabindex="1" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input [formControl]="formHandler.form.controls.surname" type="text" matInput tabindex="2" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input [formControl]="formHandler.form.controls.email" type="text" matInput tabindex="3" />
    </mat-form-field>

    <div [formGroup]="formHandler.form.controls.password">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [formControl]="formHandler.form.controls.password.controls.password" type="password" matInput tabindex="4" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm</mat-label>
        <input [formControl]="formHandler.form.controls.password.controls.confirm" type="password" matInput tabindex="5" />
      </mat-form-field>

    </div>

    <div actions>
      <button type="submit" mat-raised-button color="primary">Register</button>
    </div>
  </div>

</form>
