.table-container {
  overflow-x: scroll;
}

table[appTable] {
  width: 100%;

  .active {
    color: green;
    background-color: #00f6de;
  }

  .inactive {
    color: red;
  }
}

th, td {
  &.name {
    min-width: 180px;
  }

  &.status {
    min-width: 90px;
    width: 90px;
    max-width: 90px;
    padding-right: 10px;
  }
}

.pagination {
  padding-top: 12px;
}
