@import 'src/app/shared/_colors';

.page-size-container {
  color: grey;
  white-space: nowrap;

  .title {
    color: #d2d2d2;
    margin-right: 10px;
    font-size: 16px;
  }

  .page-size + .page-size {
    margin-left: 10px;
  }

  .page-size > button:hover {
    color: #000;
  }

  .page-size.active {
    color: $primary-color;
    font-weight: 500;
  }
}
