<table class="bf-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>
      <span class="macronutrients-label carbohydrates">Carbohydrates [g]</span>
    </th>
    <th>
      <span class="macronutrients-label proteins">Proteins [g]</span>
    </th>
    <th>
      <span class="macronutrients-label fats">Fats [g]</span>
    </th>
    <th>KCAL</th>
  </tr>

  <tr *ngFor="let product of products">
    <td>
      <a class="entity-link" target="_blank"
         (click)="handleClickId(product.id)">{{product.id}}</a>
    </td>
    <td class="name-cell">{{product.name}}</td>
    <td>{{product.macronutrients.carbohydrates}}</td>
    <td>{{product.macronutrients.proteins}}</td>
    <td>{{product.macronutrients.fats}}</td>
    <td>{{product.macronutrients | macronutrientsCaloriesCalculator}}</td>
  </tr>
</table>
