<div class="controls">
  <div class="name">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input [formControl]="name" matInput
             type="text" tabindex="1">
    </mat-form-field>
  </div>

  <div class="description">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea [formControl]="description" matInput tabindex="2"></textarea>
    </mat-form-field>
  </div>

  <app-day-of-eating-form-ingredients [formGroup]="control"
                                      [mealIdx]="mealIdx"
                                      [products]="dataSource.products"></app-day-of-eating-form-ingredients>
</div>
