@import 'src/app/shared/_colors';

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background: rgb(248, 248, 248);
    background: linear-gradient(315deg, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 35%, rgba(223, 226, 245, 1) 100%);
    box-shadow: 1px 0 4px 1px $secondary-color;
    border: none;
  }
}
