<table *ngIf="diets.length; else noTableData" appTable selectable>
  <tr>
    <th>Name</th>
    <th>Date start</th>
    <th>Date end</th>
    <th>Type</th>
    <th>Meals</th>
    <th>
      <span class="macronutrients-label carbohydrates">Carbohydrates [g]</span>
    </th>
    <th>
      <span class="macronutrients-label proteins">Proteins [g]</span>
    </th>
    <th>
      <span class="macronutrients-label fats">Fats [g]</span>
    </th>
    <th>
      <span class="macronutrients-label kcal">KCAL</span>
    </th>
  </tr>

  <tr *ngFor="let diet of diets"
      (click)="handleClick(diet)">
    <td class="name">{{diet.name}}</td>
    <td>{{diet.startDate | date:DATE_FORMAT}}</td>
    <td>{{diet.endDate | date:DATE_FORMAT}}</td>
    <td>{{diet.type | i18nSelect:DIET_TYPE}}</td>
    <td>{{diet.meals}}</td>
    <td>{{diet.carbohydrates}}</td>
    <td>{{diet.proteins}}</td>
    <td>{{diet.fats}}</td>
    <td>{{diet | macronutrientsCaloriesCalculator}}</td>
  </tr>
</table>

<ng-template #noTableData>
  <app-no-table-data></app-no-table-data>
</ng-template>
