<form [formGroup]="formHandler.form" (ngSubmit)="handleSubmit()">
  <app-toggle-button [formControl]="formHandler.form.controls.origin">
    <button [appToggleButtonOption]="DayOfEatingBeginOrigin.NEW" type="button">Begin new Day of Eating</button>
    <button [disabled]="dataSource.daysOfEating.length === 0" [appToggleButtonOption]="DayOfEatingBeginOrigin.AS_COPY" type="button">
      Copy existing Day of Eating
    </button>
  </app-toggle-button>

  <div *ngIf="formHandler.form.controls.origin.value | isCopyFormDateVisible: dataSource" class="date-container">
    <mat-form-field color="primary" appearance="fill">
      <mat-label>Day of Eating date</mat-label>
      <input
        matInput
        [matDatepicker]="originDatePicker"
        [matDatepickerFilter]="dateFilter"
        [formControl]="formHandler.form.controls.originDayDate"
      />
      <mat-datepicker-toggle matSuffix [for]="originDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #originDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div actions>
    <button (click)="handleCancel()" mat-raised-button type="button">Cancel</button>
    <button [disabled]="formHandler.form.invalid" mat-raised-button color="primary">Save</button>
  </div>
</form>
