@import 'src/app/shared/_colors';

.notification {
  width: 270px;
  padding: 15px;
  border: 2px solid transparent;
  color: black;
  margin: 10px;
  font-size: 13px;

  &.success {
    background-color: $secondary-color;
    box-shadow: 0 0 10px 0 $secondary-color;
  }

  &.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

  &.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  &.danger {
    background-color: #f8d7da;
    border-color: #f398a1;
  }
}
