<table appTable>
  <tr>
    <th>Name</th>
    <th>
      <span class="macronutrients-label proteins">Proteins [g]</span>
    </th>
    <th>
      <span class="macronutrients-label fats">Fats [g]</span>
    </th>
    <th>
      <span class="macronutrients-label carbohydrates">Carbohydrates [g]</span>
    </th>
    <th class="weight">
      Weight [g]
    </th>
    <th>
      <span class="macronutrients-label kcal">KCAL</span>
    </th>
    <th class="remove"></th>
  </tr>

  <ng-container formArrayName="ingredients">
    <ng-container *ngFor="let ingredient of formHandler.ingredients.controls; let i = index">
      <tr app-meal-template-form-ingredient-row
          [formControlName]="i"
          (removeIngredient)="handleRemoveIngredient(i)"></tr>
    </ng-container>
  </ng-container>

  <tr *ngIf="(stats$ | async) as stats" class="total">
    <td class="name">Total</td>
    <td>{{stats.proteins}}</td>
    <td>{{stats.fats}}</td>
    <td>{{stats.carbohydrates}}</td>
    <td>{{stats.weight}}</td>
    <td>{{stats.kcal}}</td>
    <td></td>
  </tr>
</table>
