.table-container {
  overflow-x: scroll;
}

table[appTable] {
  width: 100%;
}

th {
  white-space: nowrap;
}

th, td {
  &.name {
    min-width: 180px;
  }

  &.favourite {
    font-size: 110%;
    min-width: 40px;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
