 <table *ngIf="products.length; else noTableData" appTable selectable>
  <tr>
    <th>Name</th>
    <th>
      <span class="macronutrients-label carbohydrates">Carbohydrates [g]</span>
    </th>
    <th>
      <span class="macronutrients-label proteins">Proteins [g]</span>
    </th>
    <th>
      <span class="macronutrients-label fats">Fats [g]</span>
    </th>
    <th>KCAL</th>
    <th class="favourite">
      <fa-icon icon="heart"></fa-icon>
    </th>
  </tr>

  <tr *ngFor="let product of products" (click)="handleClickRow(product)">
    <td class="name">{{ product.name }}</td>
    <td>{{ product.macronutrients.carbohydrates }}</td>
    <td>{{ product.macronutrients.proteins }}</td>
    <td>{{ product.macronutrients.fats }}</td>
    <td>{{ product.macronutrients | macronutrientsCaloriesCalculator }}</td>
    <td class="favourite">
      <fa-icon *ngIf="product.favourite" icon="heart"></fa-icon>
    </td>
  </tr>
</table>

<ng-template #noTableData>
  <app-no-table-data></app-no-table-data>
</ng-template>
