<ng-container *ngIf="loaded$ | async; else loading">
  <div class="pending-indicator-overlay-boundaries">
    <div header>
      <div title>Products</div>
      <div actions>
        <button (click)="handleAddNewProduct()" mat-raised-button color="primary">Add New Product</button>
      </div>
    </div>

    <app-products-list-ui [products]="products$ | async"
                          [total]="total$ | async"
                          [pagination]="pagination"
                          [sort]="sort"
                          (clickRow)="handleClickRow($event)"
                          (sortChange)="handleSortChange($event)"
                          (paginationChange)="handlePaginationChange($event)"></app-products-list-ui>

    <div class="pending-indicator-overlay-container" *ngIf="loading$ | async">
      <app-spinner></app-spinner>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
