<app-async-data-container [loaded]="loaded$ | async"
                          [pending]="(loading$ | async) || (creating$ | async)">

  <app-slot title>
    <div class="title">Products</div>
  </app-slot>

  <app-slot actions>
    <button (click)="handleAddNewProduct()"
            mat-raised-button color="primary">Add New Product</button>
  </app-slot>

  <app-slot data>
    <app-products-list-ui [products]="products$ | async"
                          (clickId)="handleClick($event)"></app-products-list-ui>
  </app-slot>

</app-async-data-container>
