<form [formGroup]="formHandler.form" (ngSubmit)="handleSubmit()">

  <div class="form-container">
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input [formControl]="formHandler.form.controls.email" type="text" matInput tabindex="1" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input [formControl]="formHandler.form.controls.password" type="password" matInput tabindex="2" />
    </mat-form-field>

    <div actions>
      <button type="submit" mat-raised-button color="primary" tabindex="3">Login</button>
    </div>
  </div>

</form>
