@import 'src/app/shared/_colors';

$border: 1px solid #e1e6e9;

table[appTable] {
  border-radius: 3px;
  border-spacing: 0;
  border: $border;

  &[selectable] tr:not(:first-child):hover {
    background-color: $hover-color;
    cursor: pointer;
  }

  tr {
    height: 48px;

    &:not(:last-child) {
      th, td {
        border-bottom: $border;
      }
    }

    th, td {
      padding: 0 0 0 24px;
      text-align: left;
    }

    th {
      color: $label-color;
      font-size: 12px;
      font-weight: 500;
      user-select: none;
      white-space: nowrap;
    }

    td {
      color: black;
      font-size: 14px;

      &.distinction {
        font-weight: 500;
      }
    }
  }

}
