@import 'src/app/shared/_colors';

table[appTable] {
  border-radius: 3px;
  border-spacing: 0;

  &[selectable] tr:not(:first-child):hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  tr {
    height: 48px;

    &:nth-child(even) {
      background-color: #fafafa;
    }

    th, td {
      padding: 0 0 0 24px;
      text-align: left;
    }

    th {
      color: $label-color;
      font-size: 12px;
      font-weight: 500;
      user-select: none;
    }

    td {
      color: black;
      font-size: 14px;

      &.distinction {
        font-weight: 500;
      }
    }
  }

  tr:first-child {
    th, td {
      border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    }
  }

  tr:not(:first-child):not(:last-child) {
    th, td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
