@import 'src/app/shared/colors';

.name-input {
  width: 100%;
}

.proteins-input {
  width: calc(33% - 10px);
  margin-right: 15px;
}

.fats-input {
  width: calc(33% - 10px);
  margin-right: 15px;
}

.carbohydrates-input {
  width: calc(33% - 10px);
}
