<td class="name">{{value.product.name}}</td>
<td>{{value.product.macronutrients | macronutrientsProteinsCalculator: (weight.value | notEmptyWeight)}}</td>
<td>{{value.product.macronutrients | macronutrientsFatsCalculator: (weight.value | notEmptyWeight)}}</td>
<td>{{value.product.macronutrients | macronutrientsCarbohydratesCalculator: (weight.value | notEmptyWeight)}}</td>
<td>{{value.product.macronutrients | macronutrientsCaloriesCalculator: (weight.value | notEmptyWeight)}}</td>
<td class="weight">
  <mat-form-field>
    <input [formControl]="weight.ref" type="number" min="0" matInput>
  </mat-form-field>
</td>
<td class="remove">
  <button (click)="handleRemoveIngredient()"
          rawButton type="button">
    <fa-icon [fixedWidth]="true" icon="trash"></fa-icon>
  </button>
</td>
