@import "~@angular/material/theming";

@include mat-core();

$mat-be-fit: (
  50 : #e1eeed,
  100 : #b4d4d3,
  200 : #82b8b6,
  300 : #509c98,
  400 : #2b8682,
  500 : #05716c,
  600 : #046964,
  700 : #045e59,
  800 : #03544f,
  900 : #01423d,
  A100 : #77fff1,
  A200 : #44ffec,
  A400 : #11ffe7,
  A700 : #00f6de,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$theming-material-components-primary: mat-palette($mat-be-fit);
$theming-material-components-accent: mat-palette($mat-be-fit);
$theming-material-components-warn: mat-palette($mat-red);

$theming-material-components-theme: mat-light-theme(
    $theming-material-components-primary,
    $theming-material-components-accent,
    $theming-material-components-warn
);

@include angular-material-theme($theming-material-components-theme);
