/* You can add global styles to this file, and also import other style files */

@import 'src/app/shared/_colors';
@import 'src/app/shared/helper/_helper';
@import 'src/material-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: $primary-color;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba($primary-color, 0.8);
}

.pending-indicator-overlay-boundaries {
  position: relative;

  .pending-indicator-overlay-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.6);
  }
}

.macronutrients-label {
  &:before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 0.5em;
    font-size: 200%;
    vertical-align: middle;
  }

  &.carbohydrates::before {
    color: $carbohydrates-color;
  }

  &.proteins::before {
    color: $proteins-color;
  }

  &.fats::before {
    color: $fats-color;
  }

  &.kcal::before {
    color: $kcal-color;
  }
}
