@import "src/app/shared/style";

.meal-name {
  color: $primary-color;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 35px;
}

.properties {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  font-size: 18px;

  .badge {
    margin-left: 10px;
    font-size: 100%;
    font-weight: 500;
  }

  .carbohydrates {
    .badge {
      background-color: $carbohydrates-color;
    }
  }

  .proteins {
    .badge {
      background-color: $proteins-color;
    }
  }

  .fats {
    .badge {
      background-color: $fats-color;
    }
  }

  .kcal {
    .badge {
      background-color: $kcal-color;
      color: white;
    }
  }
}

.meal-property {
  margin-bottom: 50px;

  .title {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  .value {
    font-size: 20px;
  }

  &.ingredients {
    width: calc(50% - 25px);
    margin-right: 50px;
  }
}

.flex-row {
  display: flex;
}
