<div class="meal-name">{{meal.name}}</div>

<div *ngIf="meal.type" class="meal-property">
  <div class="title">Meal Type:</div>
  <div class="value">{{meal.type | i18nSelect: MEAL_TYPE}}</div>
</div>

<div class="flex-row">
  <div class="meal-property ingredients">
    <div class="title">Ingredients:</div>
    <app-ingredients-table [ingredients]="meal.ingredients"></app-ingredients-table>
  </div>

  <div class="meal-property">
    <div class="title">Description:</div>
    <div class="value">{{meal.description}}</div>
  </div>
</div>

