@import 'src/app/shared/_colors';

.pages-container {
  white-space: nowrap;

  button.page {
    margin: 0 5px;
  }

  button:not(.page) {
    font-size: 16px;
  }

  button.page.active {
    color: $primary-color;
    font-weight: 500;
  }

  button[disabled]:hover {
    cursor: default;
  }

  button[disabled]:not(.page) {
    color: #d2d2d2;
  }

  button:not([disabled]) {
    color: grey;
  }

  button:not([disabled]):hover {
    color: #000;
  }

}
