<ng-container *ngIf="loaded$ | async; else loading">
  <h1>Meals</h1>

  <div class="pending-indicator-overlay-boundaries">
    <!--  TODO  -->
    <ng-container *ngIf="(mealFormHandler$ | async) as mealFormHandler">
      <app-meal-form [formHandler]="mealFormHandler"
                     (save)="handleUpdate(mealFormHandler)"
                     (cancel)="handleCancel()"></app-meal-form>
    </ng-container>

    <div class="pending-indicator-overlay-container" *ngIf="pending$ | async">
      <app-spinner></app-spinner>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
