<ng-container *ngIf="loaded$ | async; else loading">
  <div class="pending-indicator-overlay-boundaries">
    <div class="actions">
      <button [routerLink]="['edit']"
              mat-raised-button
              class="edit-button">Edit</button>
    </div>

    <app-meal-details-ui [meal]="meal$ | async"></app-meal-details-ui>

    <div class="pending-indicator-overlay-container" *ngIf="loading$ | async">
      <app-spinner></app-spinner>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
